[D-BUS Service]
Name=org.coderus.screenrecorder
Interface=org.coderus.screenrecorder
Exec=/usr/sbin/screenrecorder --daemon
User=nemo
Group=privileged
